nav{
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.form-label{
    padding: 0.5rem 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    font-weight: 100;
}

.form-input{
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid #00000064;
    height: 2rem;
    transition: all 0.2s ease;
    margin: 0 auto 1rem auto;
    width: 100%;
    color: #C147E9;
}

.form-input:hover{
    background: #0000004a;
}

.input:active{
    border: none;
}

span{
    font-weight: 700;
}

h2{
    padding:0 1rem 0 1rem;
}

a{
    padding: 0.5rem 0.5rem 0 0.5rem;
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #ffffff73;
}

body{
    padding: 0;
    margin: 0;
}

h3{
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 1.5rem;
}

h4{
    padding: 5px 0 5px 0;
    margin: 0;
}

.background{
    background-image: linear-gradient(45deg,aqua,rgb(255, 11, 239));
}

.grow{
    flex-grow: 2;
}

.main{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 80%;
    padding:10rem 0 10rem 0;
    background-image:url("https://lost-unknown.github.io/ClassProject/wave.svg") ;
    background-position: center;
    background-size: content;
    background-repeat: no-repeat;
}

.main-head{
    padding-top: 2rem ;
}

.signin{
    display: flex;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 35px;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem; 
    align-items: center;
}

.signin-img{
    width: 30px;
}

.signin-text{
    color: #000;
    padding: 0 0.2rem 0 0.2rem;
}

.signin:hover{
    background-color: #ffffff83;
}

.footer{
    width: 100%;
    padding-top: 0.5rem;
    background: #fff;
    text-align: center;
    color: #666666;
    font-family: 'Raleway', sans-serif;

}
.heading{
    font-family: "Railway",sans-serif;
    margin: 0 auto 0 auto;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
}

.f-a{
    color: #666666 ;
    padding: 0 10px 0 10px;
}

.f-a:hover{
    color: #000000;
}

.copyright{
    padding-top: 8px;
    margin: 0;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.item{
    display: flex;
    flex-direction: column;
    border: 1.5px solid #fff;
    width: 25%; 
    height: 40%;
    border-radius: 10px;
    margin: 0 1rem 0 1rem;
    transition: all .5s ease;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 1.2rem #000;
}

.item-img{
    width: 100%;
    height:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.item-des{
    background-color: #b2b2b2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.news-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0 auto;
    padding-bottom: 2rem ;
}

.news-img{
    width: 250px;
    height: 200px;
    image-rendering: optimizeSpeed;
    float: left;
    margin-right: 2rem;
    border-radius: 5px;
}

.news-head{
    font-family: 'Raleway', sans-serif;
    color: #fff;

}

.news-p{
    font-family: 'Raleway', sans-serif;
    color: #fff;

}

.news{
    padding: 1rem 1rem 1rem 1rem;
    border-radius:  5px;
    transition: all .2s ease;

}

.news:hover{
    box-shadow: 10px 10px 1.2rem #000;
}

.about-p{
    margin: 0 auto 0 auto;
    text-align: center;
    width: 60%;
    font-family: 'Railway', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    padding-bottom: 2rem ;
}

.background-img{
    background-image: linear-gradient(45deg,rgb(0, 140, 255),rgba(255, 11, 239, 0.256)),url("Headphone.png");
    background-repeat: no-repeat;
    background-position: right;
}

.about-anim{
    transition: all .2s;
}

.about-box{
    padding: 5rem 0 5rem 0;
}

.about-anim:hover{
    transform: scale(1.2);
}

.login-back{
    display: flex;
    flex-direction: column;
    width: 35rem;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    font-family: "Railway",sans-serif;
    justify-content: center;
    align-items: center;
}

.form-width{
    width: 80%;
    align-items: center;
    justify-content: center;
}

.login-h{
    text-align: center;
    padding: 4rem 0 4rem 0;
    font-size: 2.5rem;
}

.login-form{
    width: 85%;
    margin: 0 auto 0 auto;
}

.forgot{
    text-align: right;
    color: #000;
}

.forgot:hover{
    color: #00000093;
}

.login-btn{
    color: white;
    background-image: linear-gradient(90deg,aqua,rgb(255, 11, 239));
    height: 7vh;
    border: none;
    font-size: 1.5rem;
    border-radius: 25px;
    width: 100%;
    margin: 2rem auto 4rem auto;
}

.login-link{
    width: 10%;
    width: 10%;
}

body::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}